/* Corpo */

html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --white: #fff;
  --gray: #636363;
  --gray-light: #d4e9ff;
  --blue: #26619c;
  --black: #000;
}

.container {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
  padding: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.column {
  flex-basis: 49%;
}

.hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Header */

header {
  background-color: #26619c;
  padding-top: 30px;
}

header .container {
  background-color: var(--white);
}

header .row {
  align-items: center;
}

header .column {
}

header .column-left {
  flex-basis: 30%;
}

header .column-right {
  flex-basis: 70%;
}

header .column figure {
}

header .column img {
  max-width: 250px;
  border-radius: 100%;
}

header .column h1 {
  font-size: 1.5rem;
}

header .column p {
  font-size: 1rem;
  color: var(--gray);
}

header .column ul {
  margin-top: 16px;
}

header .column ul li {
  margin-bottom: 12px;
}

header .column ul li a {
  font-size: 1rem;
  color: var(--black);
}

/* Rodapé */

footer {
}

footer .container {
}

footer nav {
}

/* Página principal */

main {
}

main .container {
}

main .row {
}

main .column {
}

main .column-left {
}

main .column-right {
}

main .column section {
  border: 1px solid var(--gray-light);
  margin-bottom: 20px;
  padding: 20px;
  min-height: 187px;
}

main .column section h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

main .column section p {
  font-size: 0.9rem;
  color: var(--gray);
  line-height: 1.5;
}

main .column section ul {
}

main .column section ul li {
  margin-bottom: 12px;
}

main .column section ul li h3 {
  font-size: 1.1rem;
}

main .column section ul li strong {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
}
